<h4>Add a new task:</h4>
<dl class="task-type-buttons accordion" id="task-add-sidebar" data-accordion>
  <% categories.each do |cat| %>
    <a href="#" data-reveal-id="<%= "#{cat}-modal" %>">
      <h4><%= cat.titleize %></h4>
    </a>
    <div id="<%="#{cat}-modal"%>" class="reveal-modal tiny" data-reveal>
      <%= render partial: "tasks/form",
        locals: { category: cat, types: TaskType.where(category: cat.to_sym) } %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  <% end %>
</dl>
