<div class="row">
	<% if @signups %>
		<h3><%= @signups.count %> users have signed up!</h3>
		<ul class="square">
			<% @signups.each do |s| %>
			<li><%= s.first_name + ' ' + s.last_name + ' - ' + s.email %></li>
			<% end %>
		</ul>	
	<% else %>
		<div>You don't have access to this information.</div>
	<% end %>
</div>