<% if flash[:signup_success] %>
  <div class="row panel">Thanks for signing up!</div>
<% end %>

<div class="row">
  <%= form_for @signup do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Sign Up', class: "button" %>
  <% end %>
</div>