<div class="row">
  <div class="large-10 large-centered columns">
    <h1>Unprocessable Request</h1>
    <h3>Whoops, our bad! Please <%= mail_to 'suprooteam@gmail.com', 'let us know'%> how you got here, and we'll do our best to fix it soon :)</h3>
  </div>
</div>