<div class="top-bar">
  <div class="row" id="top-stuff">
    <span class="left">
      <%=image_tag 'logo.png', size: '360' %>
    </span>
    <ul class="right">
      <li class="name">
        <h1><a id="top-name" href="/"><%= @board.name %>'s Support Board</a></h1>
      </li>
    </ul>
  </div>
</div>
