<div class="share-link-bar orange">
  <%= link_to "Invite Supporters!", new_board_invites_path(@board), class: "button tiny round success" %>
  <%= link_to "View Supporters (#{@board.non_owners.count})", supporters_board_path(@board), class: "button tiny round success" %>
</div>
