<div class="full-width text-center share-link-bar orange">
  <p>Share your board!
  <%= link_to fa_icon("envelope-o"), new_board_invites_path(@board) %></p>
  <!-- <div class="fb-send" data-href="https://supportroo-staging.herokuapp.com/<%= share_board_path(@board) %>" data-colorscheme="light"></div> -->
</div>
