<div class="full-width text-center share-link-bar orange">
  <span>Share your board!</span>
  <input type="text"
    value="<%= share_board_url(@board) %>">
  </input>
  <%= link_to fa_icon("envelope-o"), "mailto:?subject=Visit my board on SupportRoo!&body=#{share_board_url(@board)}" %>
  <div class="fb-send" data-href="https://supportroo-staging.herokuapp.com/<%= share_board_path(@board) %>" data-colorscheme="light"></div>
</div>
