<div class="board share-board">
  <div class="row almost-full-width">
    <div class="row">
      <div class="columns large-12 text-center">
      </div>

      <div class="row">
        <div class="columns small-4">
          <h3>Available Tasks</h3>
          <% if @unaccepted_tasks.empty? %>
            <em>All tasks on this board have been signed up for!</em>
          <% end %>
          <div class="row">
            <% @unaccepted_tasks.each do |task| %>
              <%= render partial: "tasks/available_task", locals: { task: task } %>
            <% end %>
          </div>
        </div>

        <div class="columns small-8">
          <div class="calendar">
            <%= render partial: "shared/calendar", locals: { tasks: @unaccepted_tasks } %>
          </div>
          <h3>Tasks you've signed up for:</h3>
          <% if @user_tasks.empty? %>
            <div>You don't currently have any tasks, you must be new. Check out the list on left to sign up!</div>
          <% else %>
            <div class="row">
              <% @user_tasks.each do |task| %>
                <%= render partial: "tasks/user_task", locals: { task: task } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
