/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require jquery-ui

 */

.row.full-width {
  width: 100%;
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-bar-section li a:not(.button) {
    background: white !important;
}

.top-bar-section li a:not(.button):hover {
    background: white  !important;
}

.top-bar-section ul li.active > a {
    background: white !important;
}

.top-bar-section ul li.active > a:hover {
    background: gray !important;
}

.top-bar,
.top-bar-section ul li > a,
.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: #fff;
    color: #000;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	color: gray
}

#drop li {
	width: 200px
}
