// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange-primary: #63A8A8;
$orange-secondary: #DEEEEE;
$blue-dark: #296C7A;
$white: #FFFFFF;
$light-grey: #F0F0F0;
$dark-grey: #858585;

@mixin box-shadow() {
  -webkit-box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
  -moz-box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
  box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
}

.accordion h4 {
  font-size: 1.1rem;
}

.row.almost-full-width {
  width: 90%;
  max-width: 90%;
}

.top-bar {
  display: inline-block;
  width: 100%;
  #top-stuff {
    background-color: $white;

    #top-name {
      color: $orange-primary;
      margin-top: 10%;
      font-size: 1.4rem;
    }
    display: inline-block;
  }
}

.share-link-bar {
  width: 100%;
  .button {
    margin: 0.5%;
  }
}

.orange {
  background-color: $orange-primary;
  color: $white;
}


.board {
  background-color: $light-grey;
  padding-top: 15px;
}

.new-task-form {
  .new-task-title { color: $orange-primary; }
  select.select-date {
    width: 30%;
    margin-right: 10px;
    float: left;
  }
  .select-date-wrapper{
    select:first-of-type{
      width: 30%;
    }
    select:nth-of-type(2){
      width: 15%;
    }
    select:nth-of-type(3){
      width: 25%;
    }
    select:last-of-type{
      width: 15%;
    }
  }
}

.boards {
  padding-top: 10px;
  background-color: $light-grey;
  .add-board {
    font-size: 1.1rem;
    > i { padding-right: 5%; }
  }
}
.board-preview {
  min-height: 150px;
  background-color: white;
  margin: 10px 10px 0 0;
  i { color: red; }

  @include box-shadow();

  .description {
    color: grey;
    padding-top: 3%;
  }
  .board-name {
    font-size: 1.1rem;
    color: $orange-primary;
  }
  .board-list {
    margin-left: 20px;
  }
}
