// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange-primary: #F17429;
$blue-dark: #296C7A;
$white: #FFFFFF;
$light-grey: #F7F3EB;

@mixin box-shadow() {
  -webkit-box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
  -moz-box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
  box-shadow: -4px 4px 4px -2px rgba(219,219,219,1);
}

.row.almost-full-width {
  width: 90%;
  max-width: 90%;
}

.top-bar {
  display: inline-block;
  width: 100%;
  #top-stuff {
    background-color: $white;

    #top-name {
      color: $orange-primary;
      margin-top: 10%;
      font-size: 1.4rem;
    }
    display: inline-block;
  }
}

.share-link-bar {
  width: 100%;
  .button {
    margin: 0.5%;
  }
}

.orange {
  background-color: $orange-primary;
  color: $white;
}


.board {
  background-color: $light-grey;
  padding-top: 15px;
}

.new-task-form {
  .new-task-title { color: $orange-primary; }
  select.select-date {
    width: 30%;
    margin-right: 10px;
    float: left;
  }
  .select-date-wrapper{
    select:first-of-type{
      width: 30%;
    }
    select:nth-of-type(2){
      width: 15%;
    }
    select:nth-of-type(3){
      width: 25%;
    }
    select:last-of-type{
      width: 15%;
    }
  }
}
