// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-type-buttons {
  .add-task {
    margin-bottom: 0;
  }

  .label {
    font-size: 1.2em;
    margin: 0 0 4% 0;
  }
}


select.select-date {
  width: 30%;
  margin-right: 10px;
  float: left;
}
.select-date-wrapper{
  select:first-of-type{
    width: 30%;
  }
  select:nth-of-type(2){
    width: 15%;
  }
  select:nth-of-type(3){
    width: 25%;
  }
  select:last-of-type{
    width: 15%;
  }
}

li.task_type {
  display:inline-block;
  width:140px;
  height:140px;
  text-align: center;
  vertical-align: middle;
  line-height: 140px; 
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: #DDD; 
}

ul.category_list {
  white-space:nowrap;
  width: 100%;
  overflow-x:scroll;
  overflow-y: hidden;
}