@import "boards.scss";

.task-categories {
  border-bottom: 1px solid $dark-grey;
  padding: 10px 0 10px 0;
  color: $dark-grey;
  &:hover {
    font-weight: bold;
    border-bottom: 3px solid $dark-grey;
  }
}
