@import "boards.scss";

.task-categories {
  border-bottom: 1px solid $dark-grey;
  padding: 10px 0 10px 0;
  color: $dark-grey;
  &:hover {
    font-weight: bold;
    border-bottom: 3px solid $dark-grey;
  }
}

.new-task-form {
  form {
    .input {
      select, input, textarea {
        margin-bottom: 1px;
        border: none;
      }
    }
    .input.task_start_date {
      margin: 0;
      display: inline-block;
      width: 49%;
    }
    .input.task_start_time {
      margin: 0;
      display: inline-block;
      width: 49%;
    }
    .input.task_completion_check_date {
      margin: 0;
      display: inline-block;
      width: 49%;
    }
    .input.task_completion_check_time {
      margin: 0;
      display: inline-block;
      width: 49%;
    }
    .completion-check-fields-wrapper {
      display: none;
      margin-bottom: 30px
    }
    .task_completion_check {
      margin: 10px 0 20px 0;
    }
  }
}
