// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "boards.scss";

.task-info {
  margin-bottom: 10px;
  @include box-shadow();
  background-color: $white;
  padding: 2%;
  border-radius: 10px;
  font-size: 0.75rem;

  .top-row {
    display: inline-block;
    width: 100%;

    .edit-buttons {
      float: right;
      margin-bottom: 0;

      li {
        padding-left: 15px;
      }
    }
  }
}

.accepted {
  border-bottom: 4px solid #43AC6A;
  &.completed {
    border-bottom: 4px solid $orange-primary;
  }
}

.available {
  border-bottom: 4px solid #aaa;
}

#edit-icon {
  color: #43AC6A;
}
#delete-icon {
  color: #f04124;
}

.task-type-name {
  font-size: 1rem;
  color: $orange-primary;
}
.title {
  font-size: 0.85rem;
}
